datasets/data/
datasets/original_tankbind/
datasets/tankbind_debug/
datasets/tankbind_processed/
datasets/tankbind_processed_no_p2rank/
datasets/tankbind_processed_save/
datasets/tankbind_test/
datasets/tankbind_val/
experiments/ablations/regular/tankbind_predictions/
experiments/ablations/regular/tankbind_predictions_2/
experiments/ablations/regular/tankbind_predictions_val
__pycache__/
.ruff_cache/
outputs/
training/logs/
training/configs/wandb/
training/logs/
testset_evaluation_cleaned.ipynb
bindbind.zip
*.pt
*.pkl
