/fs/pool/pool-marsot/bindbind/datasets/data/
/fs/pool/pool-marsot/bindbind/datasets/original_tankbind/
/fs/pool/pool-marsot/bindbind/datasets/tankbind_debug/
/fs/pool/pool-marsot/bindbind/datasets/tankbind_processed/
/fs/pool/pool-marsot/bindbind/datasets/tankbind_processed_no_p2rank/
/fs/pool/pool-marsot/bindbind/datasets/tankbind_processed_save/
/fs/pool/pool-marsot/bindbind/datasets/tankbind_test/
/fs/pool/pool-marsot/bindbind/datasets/tankbind_val/
/fs/pool/pool-marsot/bindbind/experiments/ablations/regular/tankbind_predictions/
/fs/pool/pool-marsot/bindbind/experiments/ablations/regular/tankbind_predictions_2/
/fs/pool/pool-marsot/bindbind/experiments/ablations/regular/tankbind_predictions_val
__pycache__/
.ruff_cache/
/fs/pool/pool-marsot/bindbind/outputs/
/fs/pool/pool-marsot/bindbind/training/logs/
/fs/pool/pool-marsot/bindbind/training/configs/wandb/
/fs/pool/pool-marsot/bindbind/training/logs/
/fs/pool/pool-marsot/bindbind/testset_evaluation_cleaned.ipynb
/fs/pool/pool-marsot/bindbind/bindbind.zip